<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/app/tabs/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Family Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>
    <ion-card-header>
      <ion-item detail="false" lines="none" >
        <ion-icon slot="start" name="contacts"></ion-icon>
        Member
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-row class="ion-no-padding ion-justify-content-center">
        <ion-col  class="ion-text-center">
          <ion-text color="primary">
            <h1> Ma-ta</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-list>

</ion-content>
